a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

:root, html, body {
  filter: none !important;
  background-color: #fff !important;
  color: #111 !important;
  backdrop-filter: none !important;
}

img, video, svg {
  filter: none !important;
  mix-blend-mode: normal !important;
}